{% extends 'base2.html.twig' %}

{% block title %}Phone Checker{% endblock %}

{% block body %}

<div class="panel panel-default">
   <div class="panel-heading">
      <a href="/">Home</a>/ +1 (205) 200-1100                        
   </div>
   <!-- /.panel-heading -->
   <div class="panel-body">
      <div id="phone-number">
         205-200-1100
         <span class="rating">Report: <label class="warning">0</label></span>
         <span class="rating">Rating: <label class="warning">0</label></span>
      </div>
      <div class="clearfix"></div>
      <div class="">
         <table class="table table-responsive">
            <tbody>
               <tr>
                  <td class="text-bold">Area Code:</td>
                  <td><a href="./205">205</a></td>
               </tr>
               <tr>
                  <td class="text-bold">Prefix (NXX):</td>
                  <td><a href="./205-200">200</a></td>
               </tr>
               <tr>
                  <td class="text-bold">Country:</td>
                  <td>United States</td>
               </tr>
               <tr>
                  <td class="text-bold">State/Province:</td>
                  <td><a href="/state/Alabama">Alabama</a></td>
               </tr>
               <tr>
                  <td class="text-bold">City:</td>
                  <td><a href="/city/Springville-Alabama">Springville</a> &nbsp;&nbsp;&nbsp;&nbsp;<span>[<a href="javascript:checkMap();">Map</a>]</span></td>
               </tr>
               <tr>
                  <td class="text-bold">Company:</td>
                  <td>POWERTEL BIRMINGHAM LICENSES, INC.</td>
               </tr>
               <tr>
                  <td class="text-bold">Usage:</td>
                  <td>Wireless</td>
               </tr>
               <tr>
                  <td class="text-bold">Time Zone:</td>
                  <td>Central (UTC-06:00) (2:02AM)                                            </td>
               </tr>
               <tr>
                  <td class="text-bold">International format:</td>
                  <td>+12052001100</td>
               </tr>
            </tbody>
         </table>
         <div class="common-desc">
            205-200-1100 is a Wireless                                     phone number operated by POWERTEL BIRMINGHAM LICENSES, INC.,                                      and is located in the city of
            Springville in Alabama.
            Please check general information, community rating and reports about this phone number. Don't forget to leave your rating and comment about this number, to help us improve our community database.
            The fact that a phone number is published in here does not automatically mean that it belongs to any predefined category.
            We would highly recommend using phone books, yellow and white pages, social networks, or other public resources as an additional source to get more accurate information of phone number 2052001100.
            <div style="margin-top:10px;">
               <center>
                  <script async="" src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                  <!-- 720*90 -->
                  <ins class="adsbygoogle" style="display:inline-block;width:728px;height:90px" data-ad-client="ca-pub-8478027707529283" data-ad-slot="1530569408"></ins>
                  <script>
                     (adsbygoogle = window.adsbygoogle || []).push({});
                     
                  </script>
               </center>
            </div>
         </div>
      </div>
   </div>
   <!-- /.panel-body -->
</div>
{% endblock %}